header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #524c4c;

}


nav {
    display: flex;
    gap: 25px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#button{
    display: none;
    font-size: 22px;
}

main {
    text-align: center;
    margin: 30px;
}

#cartes {
    display: grid;
    gap: 25px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.carte{
    border: 1px solid black;
    text-align: left;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.carte img{
    height: 200px;
    display: block;
    width: 100%;
    border-bottom: #524c4c solid 2px;
}

.carte .contenu {
    padding: 15px;
}


.carte h3{
    font-size: 30px;
    padding: 10px;
}

.carte p{
    font-size: 20px;
    margin-bottom: 10px;
    padding: 15px;
}

.carte a{
    text-decoration: none;
    color: black;
    padding: 15px;
}
#titremain{
    text-align: left;
}



footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 2px solid #524c4c;

}

ul{
    list-style-type: none;
}

#footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: #524c4c;
}
#footer-slogan {
    margin-top: 10px;
    text-align: center;
}

.footerBlock{
    text-align: center;
    flex: 1;
    padding: 10px;
}


footer a {
    text-decoration: none;
    color: black;

}



@media screen and (max-width: 767px){

    #button{
        display: block;
    }
    nav{
        display: none;
    }
    #cartes{
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    #footer{
        flex-direction: column;
        text-align: center;
    }
    .footerBlock{
        width: 100%;
    }

}


@media screen and (min-width: 768px) and (max-width: 1199px){
    #cartes{
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
        text-align: center;
    }
    .footerBlock{
        flex-direction: row;
        justify-content: space-around;

    }
}

@media screen and (min-width: 1200px){
    #cartes{
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
    }
}



