button
  background: none
  border: none
  cursor: pointer
  font-size: 35px
  color: #5A9EE0
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out
  display: flex
  align-items: center
  justify-content: center
  width: 53px
  height: 55px
  border-radius: 50%


  &:hover
    background-color: #5A9EE0
    color: white
    transform: scale(1.0)

  &:active
    transform: scale(0.9)

