header
  display: flex
  align-items: center
  padding: 5%


#LogoImage
  display: flex
  width: 45px
  height: 41px

#texteLogo
  font-size: 18px
  font-weight: bold
  margin-left: 5px
  font-family: mulish, sans-serif








