header
  display: flex
  align-items: center
  padding: 5%


#LogoImage
  display: flex
  width: 45px
  height: 41px

#texteLogo
  font-size: 18px
  font-weight: bold
  margin-left: 5px
  font-family: mulish, sans-serif

#menu
  display: flex
  gap: 20px
  margin-left: 50%
  text-underline: none
  font-family: mulish, sans-serif

#Home
  color: black
  font-weight: bold

nav a
    text-decoration: none
    color: grey








