#menu
  display: flex
  gap: 30px
  list-style: none
  margin-left: 680px

#menu li
  font-family: 'Mulish', sans-serif
  font-size: 16px
  font-weight: 300
  cursor: pointer

#menu a
  text-decoration: none
  color: grey
  transition: color 0.3s ease-in-out

#home-link a
  color: black
  font-weight: bold


#menu li:not(#home-link) a
  color: grey
