#voyageDetails
  max-width: 800px
  margin: 100px auto
  padding: 20px
  border-radius: 12px
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2)
  text-align: center
  font-family: "Mulish", sans-serif

  h2
    font-size: 24px
    font-weight: bold
    color: #027afd
    margin-bottom: 15px

  #images
    height: 300px
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1)
    margin-bottom: 15px
    transition: transform 0.3s ease-in-out
  p
    font-size: 16px
    color: #000000
    margin-bottom: 10px
    line-height: 1.5

  .prix
    font-weight: bold
    font-size: 18px
    color: #da0d0d
    margin: 15px 0

  #bouttonSupprimer
    background: #de0808
    color: white
    border: none
    padding: 12px 20px
    border-radius: 6px
    font-size: 16px
    font-weight: bold
    cursor: pointer
    transition: 0.3s ease-in-out
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3)

    &:hover
      background: #d50c2c
      transform: scale(1.05)


#popUp
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background: white
  padding: 25px
  border-radius: 12px
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3)
  text-align: center
  width: 350px
  font-family: "Mulish", sans-serif

  p
    font-size: 18px
    color: #000000
    margin-bottom: 15px

  button
    padding: 12px
    border-radius: 6px
    font-size: 16px
    font-weight: bold
    cursor: pointer
    transition: 0.3s ease-in-out
    margin: 5px
    border: none
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2)

  #buttonOUI
    background: #ff0000
    color: white

    &:hover
      background: #c0392b
      transform: scale(1)

  #bouttonNON
    background: #097eec
    color: white

    &:hover
      background: #2266a2
      transform: scale(1)
