main
  margin-right: 7%

#Titre
  text-align: center
  font-family: Mulish, sans-serif
  font-size: 32px
  font-weight: bold
  position: relative
  margin-bottom: 40px


#Titre::after
  content: ""
  display: block
  width: 7%
  height: 3px
  background-color: black
  margin: 2% auto 0


#texte
  text-align: center
  font-family: Mulish, sans-serif
  font-size: 18px
  color: #7D7987
  width: 952px
  margin: 0 auto
  line-height: 1.6
