#testimonial-container
  position: relative
  display: compact
  flex-direction: row
  align-items: center
  justify-content: center
  margin: auto auto 10%


#testimonial-buttons
  display: flex
  justify-content: center
  align-items: center
  gap: 40px  // Espacement entre les boutons
  margin-top: 40px  // Remonte légèrement les boutons sous la carte

button

  border-radius: 50%
  border: 2px solid #5A9EE0
  background-color: white
  color: #5A9EE0
  font-size: 22px
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  transition: all 0.3s ease-in-out

  &:hover
    background-color: #5A9EE0
    color: white

  &:active
    transform: scale(0.9)
